# PANDAS BASICS

In [ ]:
import pandas as pd # pd is the alias for pandas library

# This script reads a CSV file containing student data and displays it as a DataFrame
# Make sure to have pandas installed in your Python environment

#df means DataFrame, which is a 2-dimensional labeled data structure with columns of potentially different types (rows,cols)
df = pd.read_csv("student_data.csv") # this file should contain student data with columns like 'Name', 'Age', 'Grade' # this is to read the CSV file into a DataFrame

# df               # to output the DataFrame to the console or use print(df) to display it

# print(df.shape)  # this will print the shape of the DataFrame, which is a tuple REPRESENTING NUMBER OF ROWS AND COLUMNS

# df.info()        # this method prints a concise summary of the DataFrame, including the number of non-null entries and data types of each column, int32 for integers, 
                   # float64 for floating-point numbers, and object for strings or mixed types
# df.describe()    # Checking DataFrame basic statistics 
# df.dtypes        # Checking column data types only 

# pd.set_option('display.max_columns', 12)  # this line sets the option to display all columns in the DataFrame when printed (you can manipulate this number based on your DataFrame's width)
# pd.set_option('display.max_rows', 21)  # this line sets the option to display a maximum of 20 rows in the DataFrame when printed

# df.head(10)  # this will display the first 10 rows of the DataFrame, which is useful for quickly inspecting the data, if we don't specify a number, it defaults to 5
# df.tail(10)  # this will display the last 10 rows of the DataFrame, useful for checking the end of the data, if we don't specify a number, it defaults to 5

In [ ]:
import pandas as pd


# think DataFrame as a table with rows and columns, where each column can have different data types, EACH KEYS REPRESENTS A COLUMN HEADING and EACH VALUE IS A LIST OF VALUES FOR THAT COLUMN
df = pd.DataFrame(
    data=
    {
        "First Name" : ["Neil", "Winter", "John", "Doe", "Jane"],
        "Last Name"  : ["Armstrong", "Smith", "Doe", "Johnson", "Doe"], 
        "Age"        : [20, 3, 22, 28, 24],
        "Grade"      : ['A', 'B+', 'C', 'D', 'A']
    },
    index=[1,2,3,4,5],
    columns=["First Name","Last Name","Age","Grade"]
)
# df['Age']                          # this will access the 'Age' column of the DataFrame, returning a Series object containing the ages of the students
# df['First Name']                   # this will access the 'First Name' column of the DataFrame, returning a Series object containing the first names of the students
# df['Last Name']                    # this will access the 'Last Name' column of the DataFrame, returning a Series object containing the last names of the students
# df[['First Name']]                 # this will access the 'First Name' column, returning a DataFrame with only that column
# df[['First Name', 'Last Name']]      # this will access multiple columns, returning a DataFrame with only the specified columns

# df.columns           # this will return the column names of the DataFrame as an Index object, which is similar to a list of column names

# df.loc[2]            # this will access the row at index 2 (the third row) of the DataFrame, returning a Series object containing the data for that row
# df.loc[[2]]         # this will access the row at index 2, but returns a DataFrame with that single row, useful for maintaining the DataFrame structure
# df.iloc[2]           # this will also access the row at index 2, but using integer-location based indexing, which is useful for accessing rows by their position
# df.iloc[[4],[2]]     # df.iloc[[for rows],[for columns]] this will access specific rows and columns by their integer index positions, returning a DataFrame with the specified rows and columns
# df.iloc[0:,2:4]      # df.iloc[for rows:rows, columns:columns] this will access all rows and the columns from index 2 to 3 (inclusive of 2, exclusive of 4), returning a DataFrame with the specified rows and columns

# df.loc[[1,2,3], ['Grade','Age']]  # this will access the first two rows and the first two columns, returning a DataFrame with those specific rows and columns

In [ ]:
import pandas as pd

df = pd.read_csv("student_data.csv")  # Read the CSV file into a DataFrame

# df.shape
# # df.columns
# df['Last_Name'].value_counts() # This will count the occurrences of each unique value in the 'Last_Name' column
# df['Last_Name'].unique()  # This will return the unique values in the 'Last_Name' column
# df['Last_Name'].nunique()  # This will return the number of unique values in the 'Last_Name' column
# df['Last_Name'].isnull()  # This will return a boolean Series indicating whether each value in the 'Last_Name' column is null (NaN)
# df['Last_Name'].notnull()  # This will return a boolean Series indicating whether each value in the 'Last_Name' column is not null (not NaN)

# df.loc[:,["Last_Name","First_Name"]].head(3) # Display the  last name and first name of the 1st 3 records
df.loc[2::2,["Last_Name","First_Name"]] # Display all even indexes showing only the  Last name and First name
# df.loc[:,["Last_Name","First_Name","Final_Exam"]].sort_values(by="Final_Exam",ascending=True) # Display the last name, first name and final exam sorted by Final exam from lowest to highest
# df.loc[:,["Last_Name","First_Name","Final_Exam"]].sort_values(by="Final_Exam",ascending=True).head(3) 
# df.sort_values("Absences",ascending=False).head(3) # Display the 3 students with most number of absences


# df = df.dropna(subset=["Quiz1","Quiz2","Quiz3","Quiz4","Quiz5"]) # Drop rows where "Quiz1","Quiz2","Quiz3","Quiz4","Quiz5" is NaN
# df.sort_values(by=["Quiz1","Quiz2","Quiz3","Quiz4","Quiz5"],ascending=[True,False,True,False,True])

In [ ]:
import pandas as pd

df = pd.DataFrame(
    data=
    {
        "First Name" : ["Neil", "Winter", "John", "Doe", "Jane"],
        "Last Name"  : ["Armstrong", "Smith", "Doe", "Johnson", "Doe"], 
        "Age"        : [20, 3, 22, 28, 24],
        "Grade"      : ['A', 'B+', 'C', 'D', 'A'],
        "email"      : ["neilarm123@gmail.com","winter@gmail.com","john321@gmail.com","doe199@gmail.com","janed44@gmail.com"]
    },
    index=[1,2,3,4,5],
    columns=["First Name","Last Name","Age","Grade","email"]
)


# df.set_index('email',inplace=True) # This will set the 'email' column as the index of the DataFrame, allowing you to access rows by email address

df.loc[:,"First Name":"Grade"]
# df.iloc[0:4,[1,2]]  # This will access rows by their integer index positions, returning a DataFrame with the specified rows
# df.reset_index(inplace=True)  # This will reset the index of the DataFrame, removing the 'email' column from the index and restoring the default integer index

In [ ]:
import pandas as pd

df = pd.read_csv("student_data.csv")  # Read the CSV file into a DataFrame


df.set_index("ID",inplace=True)
df.loc["2k1-1":"2k1-10","Last_Name":"Absences"]

In [ ]:
pd.set_option('display.max_rows', 21)
df.head(21)

In [ ]:
import pandas as pd

df = pd.DataFrame(
    data=
    {
        "Last Name"  : ["Kent","Curry","Allen","Jordan","Wayne","Hall","Allen"],
        "First Name" : ["Clark","Arthur","Bart","Hal","Bruce","Shaira","Barry"], 
        "Absences"   : [5,8,3,1,5,2,4], 
        "Midterm"    : [1.25,1.75,4.00,2.75,3.25,4.00,2.50],
        "Finals"     : [1.00,1.50,2.75,3.00,3.25,3.00,5.00],
    },
    columns=["Last Name","First Name","Absences","Midterm","Finals"],
    index=[1,2,3,4,5,6,8]
)

df.loc[3:5,["First Name","Absences"]]
df.sort_index(ascending=False,inplace=True)
df

  Last Name First Name  Absences  Midterm  Finals
8     Allen      Barry         4     2.50    5.00
6      Hall     Shaira         2     4.00    3.00
5     Wayne      Bruce         5     3.25    3.25
4    Jordan        Hal         1     2.75    3.00
3     Allen       Bart         3     4.00    2.75
2     Curry     Arthur         8     1.75    1.50
1      Kent      Clark         5     1.25    1.00

# Filtering - Using Conditionals to Filter Rows and Columns

In [ ]:
import pandas as pd

df = pd.DataFrame(
    data=
    {
        "Last Name"  : ["Kent","Curry","Allen","Jordan","Wayne","Hall","Allen"],
        "First Name" : ["Clark","Arthur","Bart","Hal","Bruce","Shaira","Barry"], 
        "Absences"   : [5,8,3,1,5,2,4], 
        "Midterm"    : [1.25,1.75,4.00,2.75,3.25,4.00,2.50],
        "Finals"     : [1.00,1.50,2.75,3.00,3.25,3.00,5.00],
    },
    columns=["Last Name","First Name","Absences","Midterm","Finals"],
    index=[1,2,3,4,5,6,8]
)

filt = (df['Last Name'] == "Hall") | (df['First Name'] == "Bart")
df.loc[~filt,'Finals'] 

# and      = &
# or       = |
# not      = ~
# equal to = ==

In [ ]:
import pandas as pd

df = pd.read_csv("student_data.csv")
pd.set_option('display.max_rows', 21)
df.head()


# filt1 = df["Final_Exam"].ge(90)

filt2 = df['Last_Name'].str.contains("Uchiha",na=False)

df.loc[filt2,["Last_Name","First_Name","Section"]]

In [ ]:
import pandas as pd

df = pd.DataFrame(
    data=
    {
        "A" : [1,5,3,2,3],
        "B" : [5,2,3,4,6]
    },
    columns=["A","B"],
    index=[1,2,3,4,5]
)

# Wrapper 
# eq = equal to  ->         ==
# gt = greter than ->       >
# ge = greater than or equal ->  >=
# lt less than  ->          <
# le = less than or equal ->        <=
# ne - not equal   ->    !=

# Conditional in pandas 
# and      = &
# or       = |
# not      = ~
# equal to = ==

# df.gt(3)
# df['B'].gt(4)
# df["B"].ge(df["A"])
# df.loc[(df["A"].ge(3)) | (df["B"].ge(3))]

In [ ]:
import pandas as pd

# data_file='student_data.csv'
# student_df=pd.read_csv(data_file,header=None)
# student_df

#CHANGING COLUMNS
# cols=['Student #','Lastname','Firstname','Gender','Section','Absences','Quiz 1','Quiz 2','Act 1','Act 2','Act 3','Final Exam']
# student_df.columns=[cols]

# saving any changes in a file/csv to be exact
df = pd.read_csv("ForActivitiesPythonSirAL/student_data_updated.csv")
pd.set_option("display.max_rows",22)


# df.loc[df["Gender"].eq("M") & df["Section"].eq("A"),["Lastname","Firstname","Section","Gender"]] # Display all male students belonging to section ‘A’
# or
# df[df["Gender"].eq("M") & df["Section"].eq("A")][["Lastname","Firstname","Section","Gender"]]

# df.loc[df["Section"].eq("A") | df["Gender"].eq("F"),["Lastname","Firstname","Section","Gender"]]
# or
# df[df["Section"].eq("A") | df["Gender"].eq("F")][["Lastname","Firstname","Section","Gender"]]

# Updating Rows and Columns - Modifying Data Within DataFrames

In [ ]:
def many_or_nor(x):
    return "MANY" if x > 4 else "LITTLE"

In [ ]:
import pandas as pd

df = pd.DataFrame(
    data=
    {
        "Last Name"  : ["Kent","Curry","Allen","Jordan","Wayne","Hall","Allen"],
        "First Name" : ["Clark","Arthur","Bart","Hal","Bruce","Shaira","Barry"], 
        "Absences"   : [5,8,3,1,5,2,4], 
        "Midterm"    : [1.25,1.75,4.00,2.75,3.25,4.00,2.50],
        "Finals"     : [1.00,1.50,2.75,3.00,3.25,3.00,5.00],
    },
    columns=["Last Name","First Name","Absences","Midterm","Finals"],
    index=[1,2,3,4,5,6,8]
)





df.columns = df.columns.str.replace(" ","_")
df.rename(columns={"Midterm":"Mid_G", "Finals" : "F_G"},inplace=True)
# df.loc[3] = ["Neil","Cruz",0,1.00,1.00]
# df.rename(index={3: 300, 8: 800}, inplace=True)  # Change only index 3 and 8
# df.reset_index(inplace=True)
# df.index.name = 'Student_ID'
# df.columns.name = "Index"
# df.loc[3,["Last_Name","First_Name","Mid_G"]] = ["Cruz","Neil",1.00]
# df["Last_Name"] =  df["Last_Name"].str.lower()
# df["First_Name"] = df["First_Name"].apply(lambda x : x.upper())
df["Mid_G"] = df["Mid_G"].replace({1.25:1.00})
df["Absences"] = df["Absences"].apply(lambda x: many_or_nor(x))

df

# Add/Remove Rows and Columns From DataFrames

In [ ]:
import pandas as pd

df = pd.DataFrame(
    data=
    {
        "Last Name"  : ["Kent","Curry","Allen","Jordan","Wayne","Hall","Allen"],
        "First Name" : ["Clark","Arthur","Bart","Hal","Bruce","Shaira","Barry"], 
        "Absences"   : [5,8,3,1,5,2,4], 
        "Midterm"    : [1.25,1.75,4.00,2.75,3.25,4.00,2.50],
        "Finals"     : [1.00,1.50,2.75,3.00,3.25,3.00,5.00],
    },
    columns=["Last Name","First Name","Absences","Midterm","Finals"],
    index=[1,2,3,4,5,6,8]
)



#Combining columns/ and adding
df["Full_Name"] = df["First Name"] + " " + df["Last Name"]


#removing columns
df.drop(columns=["Last Name", "First Name"],inplace=True)
df[["First_Name", "Last_Name"]] = df["Full_Name"].str.split(" ",expand=True)
# Adding a new row using loc
df.loc[len(df)] = {"First_Name": "Neil","Last_Name":"Cruz"}

#removing rows
filt = df["Last_Name"] == "Cruz"
df.drop(index=df[filt].index)

In [ ]:
import pandas as pd

df2 = pd.DataFrame(
    data=
    {
        "Last Name"  : ["Kent","Curry","Allen"],
        "First Name" : ["Clark","Arthur","Bart"], 
        "Absences"   : [5,8,3], 
        "Midterm"    : [1.25,1.75,4.00],
        "Finals"     : [1.00,1.50,2.75],
    },
    columns=["Last Name","First Name","Absences","Midterm","Finals"],
    index=[1,2,3]
)

# Append df2 to df using pd.concat
df = pd.concat([df, df2], ignore_index=True)
df