# PANDAS BASICS

In [ ]:
import pandas as pd # pd is the alias for pandas library

# This script reads a CSV file containing student data and displays it as a DataFrame
# Make sure to have pandas installed in your Python environment

#df means DataFrame, which is a 2-dimensional labeled data structure with columns of potentially different types
df = pd.read_csv("student_data.csv") # this file should contain student data with columns like 'Name', 'Age', 'Grade' # this is to read the CSV file into a DataFrame

# df               # to output the DataFrame to the console or use print(df) to display it

# print(df.shape)  # this will print the shape of the DataFrame, which is a tuple representing the number of rows and columns

# df.info()        # this method prints a concise summary of the DataFrame, including the number of non-null entries and data types of each column, int32 for integers, 
                   # float64 for floating-point numbers, and object for strings or mixed types

# pd.set_option('display.max_columns', 12)  # this line sets the option to display all columns in the DataFrame when printed (you can manipulate this number based on your DataFrame's width)
# pd.set_option('display.max_rows', 21)  # this line sets the option to display a maximum of 20 rows in the DataFrame when printed

# df.head(10)  # this will display the first 10 rows of the DataFrame, which is useful for quickly inspecting the data, if we don't specify a number, it defaults to 5
# df.tail(10)  # this will display the last 10 rows of the DataFrame, useful for checking the end of the data, if we don't specify a number, it defaults to 5

In [ ]:
# import pandas as pd


# think DataFrame as a table with rows and columns, where each column can have different data types, EACH KEYS REPRESENTS A COLUMN HEADING and EACH VALUE IS A LIST OF VALUES FOR THAT COLUMN
df = pd.DataFrame(
    {
        "First Name" : ["Neil", "Winter", "John", "Doe", "Jane"],
        "Last Name"  : ["Armstrong", "Smith", "Doe", "Johnson", "Doe"], 
        "Age"        : [20, 3, 22, 28, 24],
        "Grade"      : ['A', 'B+', 'C', 'D', 'A']
    }
)
# df['Age']                          # this will access the 'Age' column of the DataFrame, returning a Series object containing the ages of the students
# df['First Name']                   # this will access the 'First Name' column of the DataFrame, returning a Series object containing the first names of the students
# df['Last Name']                    # this will access the 'Last Name' column of the DataFrame, returning a Series object containing the last names of the students
# df[['First Name']]                 # this will access the 'First Name' column, returning a DataFrame with only that column
# df[['First Name', 'Last Name']]      # this will access multiple columns, returning a DataFrame with only the specified columns

# df.columns           # this will return the column names of the DataFrame as an Index object, which is similar to a list of column names
# df.loc[2]            # this will access the row at index 2 (the third row) of the DataFrame, returning a Series object containing the data for that row
# df.loc[[2]]         # this will access the row at index 2, but returns a DataFrame with that single row, useful for maintaining the DataFrame structure
# df.iloc[2]           # this will also access the row at index 2, but using integer-location based indexing, which is useful for accessing rows by their position
# df.iloc[[4],[2]]     # df.iloc[[for rows],[for columns]] this will access specific rows and columns by their integer index positions, returning a DataFrame with the specified rows and columns
# df.iloc[0:,2:4]      # df.iloc[for rows:rows, columns:columns] this will access all rows and the columns from index 2 to 3 (inclusive of 2, exclusive of 4), returning a DataFrame with the specified rows and columns

# df.loc[[0,1,3], ['Grade','Age']]  # this will access the first two rows and the first two columns, returning a DataFrame with those specific rows and columns

In [ ]:
import pandas as pd

df = pd.read_csv("student_data.csv")  # Read the CSV file into a DataFrame

# df.shape
# # df.columns
# df['Uzumaki'].value_counts() # This will count the occurrences of each unique value in the 'Uzumaki' column
# df['Uzumaki'].unique()  # This will return the unique values in the 'Uzumaki' column
# df['Uzumaki'].nunique()  # This will return the number of unique values in the 'Uzumaki' column
# df['Uzumaki'].isnull()  # This will return a boolean Series indicating whether each value in the 'Uzumaki' column is null (NaN)
# df['Uzumaki'].notnull()  # This will return a boolean Series indicating whether each value in the 'Uzumaki' column is not null (not NaN)

df.loc[0::2,'ID':'Absences']

NameError: name 'Absences' is not defined

In [ ]:
pd.set_option('display.max_rows', 21)
df.head(21)

,ID,Last_Name,First_Name,Gender,Section,Absences,Quiz1,Quiz2,Quiz3,Quiz4,Quiz5,Final_Exam
0,2k1-1,Uzumaki,Naruto,M,A,8.0,59.0,48.0,97.0,74.0,74.0,77.0
1,2k1-2,Uchiha,Madara,M,A,3.0,55.0,67.0,97.0,78.0,92.0,84.0
2,2k1-3,Uchiha,Itachi,M,B,2.0,52.0,63.0,97.0,75.0,85.0,83.0
3,2k1-4,Uchiha,Sasuke,M,A,0.0,58.0,69.0,97.0,95.0,89.0,92.0
4,2k1-5,Hyuuga,Neji,M,B,4.0,56.0,60.0,97.0,76.0,81.0,80.0
5,2k1-6,Hatake,Kakashi,M,A,3.0,47.0,NaN,97.0,79.0,85.0,86.0
6,2k1-7,Haruno,Sakura,F,B,1.0,65.0,59.0,97.0,81.0,89.0,80.0
7,2k1-8,Akimichi,Choji,M,B,1.0,53.0,55.0,97.0,91.0,91.0,85.0
8,2k1-9,Aburame,Shino,M,B,3.0,55.0,55.0,97.0,78.0,91.0,81.0
9,2k1-10,Senju,Tsunade,F,A,3.0,57.0,64.0,60.0,86.0,NaN,91.0
10,2k1-11,Hyuuga,Hinata,F,A,1.0,69.0,61.0,97.0,87.0,81.0,94.0
11,2k1-12,Kent,Clark,M,B,0.0,48.0,59.0,97.0,80.0,82.0,86.0
12,2k1-13,Prince,Dianna,F,A,6.0,52.0,54.0,97.0,72.0,82.0,79.0
13,2k1-14,Curry,Arthur,M,B,1.0,55.0,55.0,97.0,79.0,88.0,80.0
14,2k1-15,Wayne,Bruce,M,A,5.0,61.0,55.0,97.0,78.0,84.0,85.0
15,2k1-16,Allen,Barry,F,A,0.0,58.0,66.0,97.0,90.0,80.0,90.0
16,2k1-17,Hall,Shaira,F,B,0.0,57.0,55.0,97.0,86.0,83.0,83.0
17,2k1-18,Grey,Jean,F,B,2.0,51.0,59.0,97.0,84.0,86.0,82.0
18,2k1-19,Lee,Jubilation,F,A,1.0,62.0,73.0,97.0,87.0,90.0,85.0
19,2k1-20,Monroe,Ororo,F,B,7.0,50.0,54.0,97.0,76.0,78.0,78.0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN